*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;
}

#preloader{
    background: white url(calculator.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.container{
    width : 100%;
    height : 100vh;
    background: #091921 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 15px;
}

.calculator form input{
    border : 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, .3),
    5px 0 3px -5px rgba(255, 255, 255, .8),
    0 5px 5px -3px rgba(0, 0, 0, .5),
    -3px 0 3px -1px rgba(0, 0, 0, .8),
    inset 0 -5px 3px -3px rgba(0, 0, 0, .5),
    inset 5px 0 5px -2px rgba(0, 0, 0, .8);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer ;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 ;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
    color:rgba(0, 0, 0, .8);
    background-color:orange;
}

form input.operator{
    font-weight: bold;
    color:rgba(0, 0, 0, .8);
}